DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=medicaar_live
DB_USERNAME=root
DB_PASSWORD=
PORT=7000
NODE_ENV=production

MAIL_DRIVER=smtp
MAIL_HOST=smtpout.secureserver.net
MAIL_PORT=587
mail_username=databkp-gmtaz@softelevation.com
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_NAME="Medicaar"

CRYPTOJS_SECRET=admin123

SERVER_KEY=AAAAZhyYBJA:APA91bFE-KXSFRXzalD2wR2NvwlQ0ttjCxzyl0_nlbqOOOtffwaiDXUDk9jy9uGMEzUx3ZnWxg0a3e0aRECfKAkGbk5ZTQX6ptyb1abvWzZHUQeaSg4jPwUd8KNDno29dWFs5pKyS6pM

AWS_ACCESS_KEY_ID=AKIARYJ56IP7RKVPMQ7A
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=us-east-1